<!--// "idArticolo": "001", "codArt": "anello_fidanzamento", "nome_art": "Anello di fidanzamento", "ext": ".png", "descr-->
<h4 class="text text-center mt-3 ">{{'articoli' | translate}} </h4>
<table *ngIf="dataSource" mat-table [dataSource]="dataSource"
    multiTemplateDataRows>
    <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplayInput">
        <span>
            <th mat-header-cell [ngClass]="{'w-cell':(column == 'idArticolo' || column == 'actions'), 'w-cell2': column== 'img'}" *matHeaderCellDef>
                {{'store.gioielli.tabella.' + column | translate | uppercase}}</th>
        </span>
        <span *ngIf="column == 'img'">
            <td mat-cell class="w-cell2" *matCellDef="let element">
                <img src="src/shared/assets/images{{element['codArt']+{{element['ext']}}" alt="{{element['nome_art']}}"/>
            </td>
        </span>
        <span *ngIf="column != 'img' && column != 'actions'">
            <td mat-cell class="text-align-left" *matCellDef="let element" matTooltip="{{(element.idElabGenerante || element.codTipoTabella === 'INPUT_ON_PREM')? element.nomTabella + ' - ' + element[column] : element[column]}}">
                <span>{{element[column]}}</span>
            </td>
        </span>
        <span *ngIf="column == 'actions'">
            <td mat-cell class="w-cell" *matCellDef="let element">
                <mat-icon matTooltip="{{element.desEstesaTabella}}" class="mat-icon-rtl-mirror icon pt-1"
                    color="primary">info</mat-icon>
            </td>
        </span>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
</table>
